# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env/
.venv/
ENV/
._*
.cache

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs and databases
logs/
data_historic/
*.log
*.csv
*.sqlite
*.db
crash_log.txt
*.json

# IDE specific files
.idea/
.vscode/
*.swp
.DS_Store
temp/