# Environment variables
.env
*.bat

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env/
.venv/
ENV/
._*
.cache


# Logs and databases
logs/
data_historic/
**/old/
*.log
*.csv
*.sqlite
*.db
crash_log.txt
*.json

# IDE specific files
.idea/
.vscode/
*.swp
.DS_Store
temp/